
asgiref              3.7.2
bcrypt               4.0.1
certifi              2023.11.17
charset-normalizer   3.3.2
crispy-bootstrap5    2023.10
cx-Oracle            8.3.0
Django               4.2.7
django-crispy-forms  2.1
idna                 3.6
marshmallow          3.17.0
packaging            23.2
Pillow               10.1.0
pip                  23.3.1
pytz                 2023.3.post1
requests             2.31.0
sqlparse             0.4.4
transbank-sdk        4.0.0
tzdata               2023.3