<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% if request.session.tipo_perfil == 'proveedor' %}
    <tr>
        <td>Ingrese su rut </td>
        <td><input type="text" id="rutInput" maxlength="8" placeholder="Ingresa el RUT sin dv" unique>

        </td>
    </tr>
    <tr>
        <td>-</td>
        <td><input type="text" name="dv_proveedor" required placeholder="k" size="1" maxlength="1"></td>
    </tr>
    <tr>
        <!-- tu_plantilla.html -->
        {{ comunas }}

        <label for="comuna">Selecciona tu comuna:</label>
        <select id="comuna" name="comuna">
            {% for comuna in comunas %}
            <option value="{{ comuna.id }}">{{ comuna.descripcion }}</option>
            {% endfor %}
        </select>
    </tr>
    <!-- <tr>
        <td>Ingrese su nombre de usuario</td>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <td>Ingrese su nombre de usuario</td>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <td>Ingrese su nombre de usuario</td>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <td>Ingrese su nombre de usuario</td>
        <td><input type="text" name="username"></td>
    </tr> -->

    <p>Este es un formulario para proveedores.</p>
    <!-- Agrega aquí contenido específico para el formulario de proveedor -->
    {% else %}
    <!-- Si es un formulario de cliente -->
    <p>Este es un formulario para clientes.</p>
    <!-- Agrega aquí contenido específico para el formulario de cliente -->
    {% endif %}

    <button type="submit">Guardar</button>

</form>