<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
</head>

<body>

    <li>
        <a href="/">
            <h3>Inicio</h3>
        </a>
    </li>

    {% if request.session.username and request.session.tipo_perfil %}
    {{ request.session.username }}
    {{ request.session.tipo_perfil }}

    {% if request.session.tipo_perfil == 'proveedor' %}
    <li>
        <a href="/producto">Productos</a>
    </li>
    {% else %}
    <li>
        <a href="/tienda">Tienda</a>
    </li>
    {% endif %}

    <li>
        <a href="/cerrarsesion">Cerrar sesión</a>
    </li>
    {% else %}
    <li>
        <a href="/iniciosesion">Iniciar sesión</a>
    </li>
    <li>
        <a href="/registro">Registrarse</a>
    </li>
    {% endif %}

</body>

</html>