<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>

<body>
    <h1>Iniciar Sesión</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="checkbox" id="showPassword">
        <label for="showPassword">Mostrar contraseña</label><br><br>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <input type="submit" value="Iniciar Sesión">
        <a href="javascript:history.back()">Volver atrás</a>
        <a href="{% url 'registro' %}">Registrarse</a>
    </form>
    {% if form.errors %}
    <p>{{ form.errors }}</p>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordInput = document.querySelector('input[type="password"]');
            const showPasswordCheckbox = document.getElementById('showPassword');

            showPasswordCheckbox.addEventListener('change', function () {
                if (showPasswordCheckbox.checked) {
                    passwordInput.type = 'text';
                } else {
                    passwordInput.type = 'password';
                }
            });
        });
    </script>
</body>