{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Perfil Cliente</title>
    <script src="{% static 'js/custom.js' %}"></script>
</head>

<body>
    <h1>Editar Perfil Cliente</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
        <a href="/">home</a>
    </form>
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</body>

</html>