<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Solicitudes de Trueque</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <a href="/">home</a>
</head>

<body>
    <h1>Solicitudes de Trueque</h1>

    {% if solicitudes_recibidas %}
    <ul>
        {% for solicitud in solicitudes_recibidas %}
        <li>
            <p>Producto enviado: {{ solicitud.prod_enviado.nombre }}</p>
            <p>Cantidad enviada: {{ solicitud.cant_enviada }}</p>
            <p>Producto recibido: {{ solicitud.prod_recibido.nombre }}</p>
            <p>Cantidad recibida: {{ solicitud.cant_recibida }}</p>
            <p>Descripción: {{ solicitud.descripcion }}</p>
            <p>Estado solicitud: {{ solicitud.id_esolicitud }}</p>

            {% csrf_token %}
            <form method="POST" action="{% url 'aceptar_solicitud' solicitud.id_otrueque %}">
                {% csrf_token %}
                <input type="hidden" name="id_esolicitud" value="1"> <!-- Valor predeterminado para aceptar -->
                <button type="submit">Aceptar</button>
            </form>

            <form method="POST" action="{% url 'rechazar_solicitud' solicitud.id_otrueque %}">
                {% csrf_token %}
                <input type="hidden" name="id_esolicitud" value="2"> <!-- Valor predeterminado para rechazar -->
                <button type="submit">Rechazar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay solicitudes de trueque.</p>
    {% endif %}
</body>

</html>