<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trueque</title>
    <a href="/">home</a>
</head>

<body>
    <h1>Bienvenido al Trueque</h1>

    <div>
        <h2>Solicitar Trueque</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <!-- Renderiza el formulario -->
            <button type="submit">Enviar Solicitud de Trueque</button>
        </form>
    </div>
</body>

</html>